@using UserApp.DataLayer.Entities
@model UserEntity

<div class="card mb-3 mx-auto" style="max-width: 22rem;">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
        <p class="card-text text-center text-muted">@Model.Email</p>
    </div>
</div>
