@using UserApp.DataLayer.Entities
@model List<UserEntity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Users list</h1>
    <ul>
        @foreach (var user in Model)
        {
            <partial name="_UserCard" model="user" />
        }
    </ul>
</div>
